<section id="header-section">
</section>
<section id="main-section">
    <div id="app">
        <div id="morpheus-space">
            <div id="red_pill" class="pill">
            </div>
            <div id="blue_pill" class="pill">
            </div>
        </div>
    </div>
</section>
<section id="footer-section">
</section>